<html>

<head>
  <title>
    <%= groupData.groupName %>
  </title>
  <style>
    textarea {
      resize: none
    }
  </style>
</head>

<body>
  <h1><%= groupData.groupName %></h1>
  <a href="/home">Home</a>

  <!--If admin then show edit button  -->
  <%if(groupData.adminId == user.id){%>
    <a href="/home/group/<%=groupData.id%>/edit-group">Edit Group</a>
  <%}%>
  
  <img src="<%=groupData.groupPicture%>">
  <br>

  <div class="desc">
    -------------------------------------------------------------------------
    <p><b>Group Description:</b><br> <%= groupData.groupDesc %></p>
    -------------------------------------------------------------------------
  </div>

  <div class="form">
    <form action="/home/group/<%=groupData.id%>/add-post" method="POST">
      <h2>Post New Topics:</h2>
      <textarea name="post" rows="5" cols="100"></textarea>
      <br>
      <input type="submit" value="Add Post">
    </form>
  </div><br>

  <div class="table">
    <h2>Group Posts</h2>
    <table border="0">
      <% posts.forEach(post => { %>
        <tr>
          <td colspan="5">
            <h4>Topic: <%= post.content %></h4>
            Date Posted: <%= post.getPostedDate() %><br>
            Poster: <%= post.User.firstname %><br>
          </td>
        </tr>

        <% post.Comments.forEach(comment => { %>
          <tr>
            <td>>></td>
            <td colspan="2">Comment by <%= comment.User.firstname %>:</td>
            <td><%= comment.content %></td>
          </tr>
        <% }) %>

        <tr>
          <td></td>
          <td colspan="3">
            Reply:
            <form action="/home/group/<%=groupData.id%>/post/<%=post.id%>/add-comment" method="post">
              <textarea name="comment" rows="3" cols="50"></textarea>
              <br>
              <input type="submit" value="Comment">
            </form>
          </td>
        </tr>
      <% }) %>
    </table>
  </div>

</body>

</html>
