<html>

<head>
  <title>
    <%= groupData.groupName %>
  </title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <style>
    textarea {
      resize: none
    }
  </style>
</head>

<body>
  <div class="container">
    <a href="/home">Home</a>
    <div class="" align="center">
      <img src="<%=groupData.groupPicture%>" class="img-thumbnail" style="width: 10%">
      <h1><%= groupData.groupName %></h1>
      <a href="#" class="btn btn-warning btn-sm">Edit Group</a>
    </div>

    <div class="desc" align="center">
      <hr style="width: 100%; background-color:grey;">
      <p><b>Group Description:</b><br>
        <%= groupData.groupDesc %>
      </p>
      <hr style="width: 100%; background-color:grey;">
    </div>

    <div class="form" align="center">
      <form action="/home/group/<%=groupData.id%>/add-post" method="POST">
        <h2>Post New Topics:</h2>
        <textarea name="post" rows="5" cols="100"></textarea>
        <br><br>
        <input type="submit" value="Add Post" class="btn btn-primary btn-sm">
      </form>
    </div><br>

    <div class="table" align="center">
      <h2>Group Posts</h2>
      <table border="0">
        <% posts.forEach(post => { %>
          <tr>
            <td>
              <h4>Topic: <%= post.content %></h4>
                Date Posted: <%= post.getPostedDate() %><br>
                Poster: <%= post.User.firstname %><br>
            </td>
          </tr>

          <% post.Comments.forEach(comment => { %>
            <tr>
              <td>
                <%= comment.User.firstname %>:
                <%= comment.content %>
              </td>
            </tr>
          <% }) %>
            <tr>
              <td>
                Reply:
                <form action="/home/group/<%=groupData.id%>/post/<%=post.id%>/add-comment" method="post">
                  <textarea name="comment" rows="3" cols="50"></textarea>
                  <br><br>
                  <div align="right">
                    <input type="submit" value="Comment" class="btn btn-primary btn-sm">
                  </div>
                </form>
                <hr style="width: 100%; color: black; height: 1px; background-color:grey;">
              </td>
            </tr>
          <% }) %>
      </table>
    </div>
  </div>
  </div>

</body>

</html>
