<!DOCTYPE html>
<html>
<head>
    <title><%= groupData.name%></title>
    <style>
        textarea{
            resize: none
        }
    </style>
</head>
<body>
    <h1><%= groupData.name%></h1>
    <br>
    <img src="<%=groupData.groupPicture%>">
    <br>
    <h5><%= groupData.groupDesc%></h5>
    <div>
        <form action="/home/group/<%groupData.id%>/add-post" method="POST">
            New Post:<br>
            <textarea rows="10" cols="170"></textarea>
            <br>
            <input type="submit", value="Add Post">
        </form>
    </div>
    <div>
        <table>
            <tr>
               <th>Post:</th>
            </tr>
            <%for(let index=0; index<groupData.length; index++){%>
                <tr>
                    <td><%= groupData[index].Post.content%></td>
                </tr>
            <%}%>
        </table>
    </div>
</body>
</html>